body{
    overflow: hidden;
}
.bg{
    /*background: url(../images/bg01.jpg) no-repeat;*/
    width: 100%;
    /*height: 100%;*/
}
.banner{
    position: fixed;
    bottom: 0;
    left:0;
    width: 100%;
}
.titlediv{
    top:12px;
    position:absolute;
}
.title{
    width: 80%;
    margin: 0 10%;
}
.subtitle{
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #71dfff;
    letter-spacing: 3px;
    text-align: center;
    width: 100%;
    line-height: 18px;

}
.op{
    width:75%;
    margin-left: 12.5%;
    position: absolute;
    bottom:15%;

}
.input{
    margin: 0;
    padding: 0;
    background-color: RGBA(219, 219, 219, 1.00);
    text-align: center;
    width: 100%;
    border: 2px solid #1A86D8;
    border-radius: 10px;
    height: 60px;
    color: #1A86D8;

    letter-spacing: 2px;
    font-size: 20px;
    line-height: 60px;
}
.btn{
    width:80%;
    margin:20% 10% 15% 10%;
}
/*.btn{
    position: fixed;
    bottom: 20%;
    left:0;
    width: 100%;

    width: 60%;
    margin: 0 20%;
}*/
